* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}

.blog-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    max-width: 90%;
    margin: auto;
    padding: 3rem 0;

    @media (max-width: 600px) {
        grid-template-columns: 1fr;
    }
}


.box {
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.2);
    border-radius: .25rem;
    overflow: hidden;

    &-seo {
        background: #051827;
        color: #fff;
        padding: 3rem 30px 1rem;
        text-align: center;
    }

    &__img {
        height: 180px;
        width: 100%;
    }

    &__middle {
        padding: .625rem 1.5rem;
    }

    &__type {
        font-size: 13px;
        color: #738A94;
    }

    &-seo &__title {
        font-size: 12px;
        margin: 0;
    }

    &__title {
        font-size: 1rem;
        line-height: 1.1;
        margin: 8px 0;
        text-transform: capitalize;

        h2 {
            font-weight: 400;
            margin-top: 4px;
            font-size: 1.375rem;
        }

        span {
            font-size: 40px;
            font-weight: 300;
            color: #90a0cf;
        }
    }


    &__items {
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 2rem;
    }

    &__item {
        font-size: 14px;
        padding: 10px 0;
        line-height: 18px;

        &:not(:last-child) {
            border-bottom: 1px solid #ccc;
        }

    }

    &__more {
        text-decoration: none;
        color: #fff;
        font-size: 12px;
        padding: 5px 10px;
    }

    &__desc {
        font-size: 14px;
        line-height: 20px;
    }

    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 8px 1.5rem;
    }

    &__img-small {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        overflow: hidden;

        img {
            max-width: 100%;
        }
    }

    &__upload-time {
        color: #738A94;
        font-size: 14px;
        text-decoration: none;
    }

}

.footer {
    background: #051827;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 14px;
}